@import "tailwindcss";

@font-face {
  font-family: 'Purgatorio';
  src: url('./assets/fonts/furgatorio.ttf') format('truetype');
}

@font-face {
  font-family: 'Purgatorio Tilt';
  src: url('./assets/fonts/furgatorio-titling.ttf') format('truetype');
}

* {
    outline: none;
}

canvas {
    outline: none;
}